*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container{
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxcontainer{
    background-color: #7250ff;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    background-color: #ff4d4d;
    width: 200px;
    height: 200px;
   border-radius: 15px  ;
}